@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --lines: 212, 235, 255;
  --ligth: 147, 203, 255;
  --semitone: 79, 133, 188;
  --dark: 0, 51, 111;
  --background: rgb(30 41 59);
}

@media (prefers-color-scheme: dark) {
  :root {
    --lines: 212, 235, 255;
    --ligth: 147, 203, 255;
    --semitone: 79, 133, 188;
    --dark: 0, 51, 111;
    --background: rgb(30 41 59);
  }
}

body {
  background-color: var(--background);
}
/* Transitions */

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Apply the custom animation to the old and new page states */

::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
}

/* Layout */
.pile {
  display: grid;
  place-items: center;

  > * {
    grid-area: 1/1;
  }
}

/* Zodiac */
.zodiac {
  stroke: rgb(var(--lines));
}

/* Celestials */

.celestial {
  transform-origin: 50% 50%;
  fill: var(--color);
  stroke: rgb(var(--lines));
}

.celestial-body {
  box-shadow: inset 10px 0 10px 10px 10px #000000;
}

.celestial-shadow {
  box-shadow: inset 10px 0 10px 10px 10px #000000;
  /* filter: blur(2px); */
}

.sun {
  -size: 10px;
  --color: yellow;
  /* animation: translation 9s linear infinite; */
}

.mercury {
  --size: 10px;
  --distance: -200px;
  --color: grey;
  animation: translation 2s linear infinite;
}

.venus {
  --size: 15px;
  --distance: -180px;
  --color: orange;
  animation: translation 4s linear infinite;
}

.earth {
  --color: rgb(42, 56, 169);
  animation: translation 5s linear infinite;
}

.moon {
  --size: 0px;
  --distance: -10px;
  --color: grey;
  animation: translation 8s linear infinite;
}

.mars {
  --size: 30px;
  --distance: -120px;
  --color: red;
  animation: translation 6s linear infinite;
}

.jupiter {
  --size: 50px;
  --distance: -80px;
  --color: orange;
  animation: translation 7s linear infinite;
}

.saturn {
  --size: 45px;
  --distance: -60px;
  --color: rgb(41, 160, 128);
  animation: translation 9s linear infinite;
}

.uranus {
  --size: 35px;
  --distance: -40px;
  --color: lightblue;
  animation: translation 10s linear infinite;
}

.neptune {
  --size: 25px;
  --distance: -20px;
  --color: blue;
  animation: translation 11s linear infinite;
}

@keyframes translation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(page-content) {
  animation: 300ms ease-in-out both slide-to-left;
}

::view-transition-new(page-content) {
  animation: 300ms ease-in-out both slide-from-right;
}

::view-transition-old(static-nav),
::view-transition-new(static-nav),
::view-transition-old(static-sheet),
::view-transition-new(static-sheet) {
  animation: none;
  mix-blend-mode: normal;
}
